@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Rubik;
	background-color: #f2f2f3;
}

.FirstRow{
	display: flex;
	margin: 20px 0px;
	justify-content: space-evenly;
}

.SecondRow{
	display: flex;
	margin: 20px 0px;
	justify-content: space-evenly;
}

.sec{
	height: 45vh;
	flex-basis: 47%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-start;
	background-color: white;
}

.sec-heading{
	text-align: center;
}

.sec-heading h2{
	color: white;
	padding: 4px;
	margin: 7px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.30), 
				0 3px 6px rgba(0,0,0,0.50);
}

.photo-galery{
	height: 45vh;
	flex-basis: 47%;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

.teachers-on-leave-names{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
}

.teachers-on-leave-heading{
	background-color: #273868 /* #2c3e50 */;
}

.teachers-on-leave-names h3{
	padding: 8px;
}

.teachers-name{
	width: 45%;
	margin-top: 10px;
	border: 1.8px solid #273868;
	border-radius: 5px;
	background-color: #f2f2f3;
}

.imp-notification{
	margin: 60px 30px;
	display: flex;
	text-align: center;

}

.imp-notification-heading{
	background-color: #273868 /* #e81e25 */;
}

.imp-txt{
	color: #e81e25;
	margin: 15px 0;
	padding-bottom: 15px;
	font-weight: 900;
	font-size: 1.15rem;
	animation: blink 1s infinite;
}

.notification{
	margin: 0 20px;
}

.notification-heading{
	background-color: #273868 /* #12c2e9 */;
}

.txt{
	color: #273868;
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid #273868;
}

@keyframes blink{
	50% {
		font-size: 1.2rem;
		color: #273868;
	}
}
